{{ $list := where .Site.Pages "Type" "in" (slice "post" "reply") }}

{{ .Content }}

{{ range $list  }}
  <article data-type="{{ .Type }}">
    <h2>{{ .Title }}</h2>
    <p>{{ .Plain }}</p>
    <time datetime="{{ .Date.Format "2006-01-02 15:04:05 -0700" }}">
      <a href="{{ .Permalink }}">{{ .Date.Format "3:04 p.m. on Jan 2, 2006" }}</a>
    </time>
    {{ if eq .Type "reply" }}
      {{ $path := .Permalink | path.Split }}
      {{ $id := strings.TrimSuffix ".html" $path.File }}
      <a href="https://micro.blog/{{ .Site.Author.username }}/{{ $id }}">Conversation</a>
    {{ else }}
      <a href="https://micro.blog/conversation.js?format=jsonfeed&url={{ .Permalink }}">Conversation</a>
    {{ end }}
  </article>
  <hr />
{{ end }}
